@import url('http://fonts.cdnfonts.com/css/sofia-pro');

:root {
  --primary-color: #0078b5;
  --highlight: yellow;
  --dull-white: azure;
}

*{
  font-family: "Sofia Pro", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

/* to remove the rectagle on input boxes */
:focus {
  outline: 0 !important;
}

/* dark mode */

.dark-mode{
  color: #ccffbd;  
  background-color: #1c1427;
}

.dark-mode li{
  color: #ccffbd;  
}

.dark-mode button,.dark-mode .dnld button{
  color: #1c1427;  
  background-color: #ccffbd;
}

.dark-mode input, .dark-mode textarea{
  border: 2px solid #ccffbd !important;
  background-color: #1c1427;
  color: #ccffbd;
}
/* flexbox styling */

.cls-flexy {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cls-flexy-row {
  max-width: 800px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: row;
  margin: 1.5rem auto;
  flex-wrap: wrap;
}

/* input area */

.inpt input,
.inpt textarea {
  padding: 0.7rem;
  margin: 0.5rem;
  width: 210px;
  /* border: none; */
  border-radius: .5rem;
  border: 2px solid black;
  /* border-color: blue; */
  /* width: auto; */
}

.inpt textarea {
  /* width: 190px; */
  height: 60px;
}

/* output area */

.otpt {
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #0078b5;
  border-radius: .5rem;
}

.otpt-inside {
  max-width: 300px;
  border: 2px solid white;
  border-radius: 0.2rem;
  margin: 0.5rem 0.7rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  position: relative;
}

.otpt-inside h2 {
  color: yellow;
}

.otpt-inside .color {
  color: yellow;
}

.otpt-inside p {
  color: azure;
  font-weight: bolder;
}

/* buttons */

button {
  border: none;
  margin: 0.5rem;
  padding: 0.6rem 1.3rem;
  border-radius: 0.3rem;
  background-color: black;
  color: azure;
  cursor: pointer;
  opacity: .9;
}

button:hover{
  opacity: 1;
  font-size: 1rem;
}
/* background logo (not in use) */

.otpt-outside {
  background-position: center;
  background-image: -moz-element(#logo);
  background-repeat: space;
}

#logo {
  position: absolute;
  padding: 0.3rem;
  color: azure;
  opacity: 0.08;
}


/* otpt abs */

/* .otpt-abs{
  position: absolute;
  top: 38px;
  left: 10px;
  opacity: .9;
  color: white;
  font-weight: 100;
} */

.otpt-abs{
  position: absolute;
  top: 50px;
  left: 70px;
  opacity: .1;
  color: white;
  font-weight: 100;
}


/* made with watermark */

.otpt-abs-web{
  position: absolute;
  bottom: 1px;
  right: 3px;
  opacity: .199;
  color: white;
  font-size: 6px;
}

/* download button */

.dnld {
  margin-top: 3rem;
}

/* class wrapper helps in downloading image 
with no extra space on left & right */

#cls-wrapper {
  width: 300px;
  margin: auto;
}

/* footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.footer u {
  text-decoration-color: #2463e9;
}

/* footer li */
.list-inline{
  display: inline;
  padding: .7rem 1.5rem;
}

.li-start{
  float: left;
}

.li-end{
  float: right;
  cursor: pointer;
}

.li-end:hover{
  font-size: larger;
}

/* media queries */

@media screen and (max-width: 615px) {
  .cls-flexy-row {
    margin: 1rem;
  }

  .cls-flexy {
    margin: 0.5rem 0.5rem;
  }

  .footer {
    position: relative;
    margin-top: 3rem;
  }
}
